.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  flex-wrap: wrap;
}

.flex {
  display: flex;
  flex: 1;
}

.flex-2 {
  display: flex;
  flex: 2;
}
